---
import { Sheet } from "@/components/Sheet";
import { Icon } from "astro-icon/components";

export interface Props {
  accent: string
}

const { accent } = Astro.props;
---

<header class="w-full flex justify-center fixed top-0 z-50" style={`background-color: ${accent};`}>
  <div
    class="w-full max-w-7xl text-white px-6 py-3 flex items-center justify-between"
  >
    <div class="flex items-center gap-6">
      <a
        href="/"
        class="flex items-center gap-2 font-bold text-white text-sm sm:text-base"
      >
        TSH Services
      </a>
      <nav class="hidden md:flex gap-5 text-sm">
        <a href="/equine" class="hover:underline">Equine Services</a>
        <a href="/chipping" class="hover:underline">Potatoes & Cooking Oil</a>
      </nav>
    </div>

    <div class="flex items-center gap-4">
      <div class="hidden md:flex items-center gap-4">
        <a href="#" aria-label="Instagram">
          <Icon name="lucide:instagram" class="w-4 h-4" />
        </a>
        <a href="#" aria-label="TikTok">
          <svg
            width="1em"
            height="1em"
            class="w-4 h-4"
            data-icon="simple-icons:tiktok"
          >
            <symbol id="ai:simple-icons:tiktok" viewBox="0 0 24 24"
              ><path
                fill="currentColor"
                d="M12.525.02c1.31-.02 2.61-.01 3.91-.02c.08 1.53.63 3.09 1.75 4.17c1.12 1.11 2.7 1.62 4.24 1.79v4.03c-1.44-.05-2.89-.35-4.2-.97c-.57-.26-1.1-.59-1.62-.93c-.01 2.92.01 5.84-.02 8.75c-.08 1.4-.54 2.79-1.35 3.94c-1.31 1.92-3.58 3.17-5.91 3.21c-1.43.08-2.86-.31-4.08-1.03c-2.02-1.19-3.44-3.37-3.65-5.71c-.02-.5-.03-1-.01-1.49c.18-1.9 1.12-3.72 2.58-4.96c1.66-1.44 3.98-2.13 6.15-1.72c.02 1.48-.04 2.96-.04 4.44c-.99-.32-2.15-.23-3.02.37c-.63.41-1.11 1.04-1.36 1.75c-.21.51-.15 1.07-.14 1.61c.24 1.64 1.82 3.02 3.5 2.87c1.12-.01 2.19-.66 2.77-1.61c.19-.33.4-.67.41-1.06c.1-1.79.06-3.57.07-5.36c.01-4.03-.01-8.05.02-12.07"
              ></path></symbol
            ><use href="#ai:simple-icons:tiktok"></use>
          </svg>
        </a>
        <a href="#" aria-label="Facebook">
          <svg
            width="1em"
            height="1em"
            class="w-4 h-4"
            data-icon="simple-icons:facebook"
          >
            <symbol id="ai:simple-icons:facebook" viewBox="0 0 24 24"
              ><path
                fill="currentColor"
                d="M9.101 23.691v-7.98H6.627v-3.667h2.474v-1.58c0-4.085 1.848-5.978 5.858-5.978c.401 0 .955.042 1.468.103a9 9 0 0 1 1.141.195v3.325a9 9 0 0 0-.653-.036a27 27 0 0 0-.733-.009c-.707 0-1.259.096-1.675.309a1.7 1.7 0 0 0-.679.622c-.258.42-.374.995-.374 1.752v1.297h3.919l-.386 2.103l-.287 1.564h-3.246v8.245C19.396 23.238 24 18.179 24 12.044c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.628 3.874 10.35 9.101 11.647"
              ></path></symbol
            ><use href="#ai:simple-icons:facebook"></use>
          </svg>
        </a>
      </div>

      <div class="block md:hidden">
        <Sheet client:idle>
          <Icon
            slot="trigger"
            name="radix-icons:hamburger-menu"
            class="w-6 h-6 text-white"
          />
          <div
            slot="description"
            class="flex flex-col gap-5 text-foreground text-lg mt-5 w-full justify-center items-center font-bold"
          >
            <a href="/" class="hover:underline">Home</a>
            <a href="/equine" class="hover:underline">Equine Services</a>
            <a href="/chipping" class="hover:underline"
              >Potatoes & Cooking Oil</a
            >
            <a href="/about" class="hover:underline">About</a>
            <a href="/contact" class="hover:underline">Contact</a>

            <div class="mt-6 flex gap-4">
              <a href="#" aria-label="Instagram">
                <Icon name="radix-icons:instagram-logo" class="w-4 h-4" />
              </a>
              <a href="#" aria-label="TikTok">
                <svg
                  width="1em"
                  height="1em"
                  class="w-4 h-4"
                  data-icon="simple-icons:tiktok"
                >
                  <symbol id="ai:simple-icons:tiktok:mobile" viewBox="0 0 24 24"
                    ><path
                      fill="currentColor"
                      d="M12.525.02c1.31-.02 2.61-.01 3.91-.02c.08 1.53.63 3.09 1.75 4.17c1.12 1.11 2.7 1.62 4.24 1.79v4.03c-1.44-.05-2.89-.35-4.2-.97c-.57-.26-1.1-.59-1.62-.93c-.01 2.92.01 5.84-.02 8.75c-.08 1.4-.54 2.79-1.35 3.94c-1.31 1.92-3.58 3.17-5.91 3.21c-1.43.08-2.86-.31-4.08-1.03c-2.02-1.19-3.44-3.37-3.65-5.71c-.02-.5-.03-1-.01-1.49c.18-1.9 1.12-3.72 2.58-4.96c1.66-1.44 3.98-2.13 6.15-1.72c.02 1.48-.04 2.96-.04 4.44c-.99-.32-2.15-.23-3.02.37c-.63.41-1.11 1.04-1.36 1.75c-.21.51-.15 1.07-.14 1.61c.24 1.64 1.82 3.02 3.5 2.87c1.12-.01 2.19-.66 2.77-1.61c.19-.33.4-.67.41-1.06c.1-1.79.06-3.57.07-5.36c.01-4.03-.01-8.05.02-12.07"
                    ></path></symbol
                  ><use href="#ai:simple-icons:tiktok:mobile"></use>
                </svg>
              </a>
              <a href="#" aria-label="Facebook">
                <svg
                  width="1em"
                  height="1em"
                  class="w-4 h-4"
                  data-icon="simple-icons:facebook"
                >
                  <symbol
                    id="ai:simple-icons:facebook:mobile"
                    viewBox="0 0 24 24"
                    ><path
                      fill="currentColor"
                      d="M9.101 23.691v-7.98H6.627v-3.667h2.474v-1.58c0-4.085 1.848-5.978 5.858-5.978c.401 0 .955.042 1.468.103a9 9 0 0 1 1.141.195v3.325a9 9 0 0 0-.653-.036a27 27 0 0 0-.733-.009c-.707 0-1.259.096-1.675.309a1.7 1.7 0 0 0-.679.622c-.258.42-.374.995-.374 1.752v1.297h3.919l-.386 2.103l-.287 1.564h-3.246v8.245C19.396 23.238 24 18.179 24 12.044c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.628 3.874 10.35 9.101 11.647"
                    ></path></symbol
                  ><use href="#ai:simple-icons:facebook:mobile"></use>
                </svg>
              </a>
            </div>
          </div>
        </Sheet>
      </div>
    </div>
  </div>
</header>
